<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <title>Mail Your Package</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
</head>
<body>
  <div class="container">
    <h1>Enter Package Information Here</h1>
    <form action="/parcels" method="post">
      <br>
      <label for="to">Send To:</label>
      <input id="to" name="to" type="text">
      <br>
      <label for="from">From: </label>
      <input type="text" id="from" name="from">
      <br>
      <label for="address">Address: </label>
      <input type="text" id="address" name="address">
      <br>
      <label for="content">Contents: </label>
      <input type="text" id="content" name="content">
      <br>
      <label for="weight">Weight: </label>
      <input type="text" id="weight" name="weight">
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>